html {
    background-color: #e5eefd;
}

/* Buttons */
.btn {
    border-radius: 50px;
    background: #e5eefd;
    box-shadow: 20px 20px 60px #c3cad7,
        -20px -20px 60px #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 10px;
    display: block;
}

.btn:hover {
    background: linear-gradient(145deg, #ced6e4, #f5ffff);
    box-shadow: 20px 20px 60px #c3cad7,
        -20px -20px 60px #ffffff;
}

.btn:active {
    background: #e5eefd;
    box-shadow: inset 20px 20px 60px #c3cad7,
        inset -20px -20px 60px #fff;
}

button {
    border: none;
    outline: none;
}

/* Boxes */
.box {
    border-radius: 20px;
    background: #e5eefd;
    box-shadow:  20px 20px 60px #c3cad7, 
                 -20px -20px 60px #ffffff;
    padding: 20px;
    margin: 10px;
}

.box:hover {
    background: linear-gradient(145deg, #ced6e4, #f5ffff);
    box-shadow:  20px 20px 60px #c3cad7, 
                 -20px -20px 60px #ffffff;
}

/* Utils */
.right {
    float: right;
}

.border {
    border: 2px solid #d3deee;
}